html, body {
    background-color: #2c2a2b;
    color: #e7e7e7;
    max-width: 300px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.definitions {
    display: block;
}

.miltonTitle {
    font-family: 'Brush Script MT', cursive;
    font-size: 24px;
    margin: 10 10 10 10;
}

#word {
    display: block;
}

#submitBtn {
    display: block;
}

